/* welcome page*/
.profilepic{
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #000;
  background: #D9D9D9;
  margin-left: 30%;
  margin-right:3%;
  margin-top:0.25%;
}

.profilebox {
  width: 40%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 40px;
  border: 3px solid #436850;
  background: rgba(67, 104, 80, 0.06);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 3%;
}
  
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    margin: 0; 
    padding: 0;
    width: 100%;
    height: 100%;
}

.profileboxtext{
  color: #436850;
  font-family: "Libre Caslon Text";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.line{
  width:100%;
  height:3px;
  background: #436850;
}

.profilebutton{
  width: 30%;
  height: 50%;
  flex-shrink: 0;
  border-radius: 40px;
  border: 3px solid #436850;
  background: rgba(67, 104, 80, 0.20);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: auto;
  margin-bottom: 5%;

}
.signin_signout_box{
  width: 1272px;
  height: 782px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #C9E7C8;
}

.topbutton{
  width: 35%;
  height: 15%;
  flex-shrink: 0;
  border-radius: 40px;
  border: 2px solid #436850;
  
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 35%;
  margin-bottom: 3%;
}
.buttontext{
  width: 144px;
  height: 22px;
  flex-shrink: 0;
  color: #436850;
  text-align: center;
  font-family: "Libre Caslon Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 600; 
  line-height: normal;
}

.createEventBox{
  width: 1300px;
  height: 750px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 3px solid #436850;
  background: rgba(67, 104, 80, 0.06);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.backbutton
{
  width: 225px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 3px solid #436850;
  background: rgba(67, 104, 80, 0.20);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.padding{
  margin-right: 25px;
}

.container{
  background-color: #D9D9D9;
}

.feedtitle{
  height: 30px;
}

.headerText{

  height: 90px;
  flex-shrink: 0;
  color: #FAF8ED;
  font-family: "Libre Caslon Text";
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 3%;
  margin-right:30%;
 
}

.headerBackground
{
  width: 100%;
  height: 10%;
  background: #436850;

}

.overlay{
  width: 1300px;
  height: 750px;
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.eventitem{
  width: 80%;
  height: 100%;

  background: rgba(67, 104, 80, 0.20);
  text-align: left;
  margin:auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.eventText{
  padding-left: 5%;
  color: #000;
  font-family: "Libre Caslon Text";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.flex_vertical
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-content: center;
}

/* .noMargin{
  margin: 0;
} */
.textsmall{
  color: #FAF8ED;
  margin: auto;
}
body {margin:0;padding:0}

.background {
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  padding: 6rem;
  background-image: url('./images/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.MainInterface {
  display: grid;
  /* background-color: rgba(250,248 , 237, 0.30); */
  grid-template-rows: 1fr 2fr 3fr;
  padding: 20px;
  border-radius: 2.5rem;
  border: 3px solid #FAF8ED;
  background: rgba(250, 248, 237, 0.90);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: rgba(67, 104, 80, 0.60);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height:15%;
  width: 50%;
  margin:auto;
}

.button-spacing {
  position: absolute;
  display: flex;
  flex-direction: horizontal;
  right: 10%;
  border-radius: 2.5rem;
  border: 0px solid ;
  /* background: #FAF8ED; */
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  color: #436850;
}


.button-style {
  border-radius: 2.5rem;
  background: rgba(67, 104, 80, 0.60);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 10%;
  border: 2px solid #436850 ;
}

.space{
  padding: 10% ;
  background-color: transparent;
}

.searchbargrid{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
